@using CattlewatchAppFinal.Models
@{
    ViewBag.Title = "GetEstimate";
    Layout = "~/Views/Shared/_Client.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
    var livestock = db.Livestocks.ToList();
}

<div class="content">
    <div class="container-fluid">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">request_quote</i>
                </div>
                <p class="card-category">Livestock Type</p>
                <h3 class="card-title">
                    1.
                    @*<small>GB</small>*@
                </h3>

            </div>
            <div class="card-body" style="text-align:left">
                @foreach (var item in livestock)
                {
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input pull-left" type="checkbox" value="">
                            @item.livestockName
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                }


            </div>
            
            <div class="card-footer">
                <div class="stats">

                    <button type="submit" class="btn btn-primary pull-left b1">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content c1">
    <div class="container-fluid">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">request_quote</i>
                </div>
                <p class="card-category">Number of livestock</p>
                <h3 class="card-title">
                    2.
                    @*<small>GB</small>*@
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">

                    <button type="submit" class="btn btn-primary pull-left">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">request_quote</i>
                </div>
                <p class="card-category">Location</p>
                <h3 class="card-title">
                    3.
                    @*<small>GB</small>*@
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">

                    <button type="submit" class="btn btn-primary pull-left">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>


