@{
    ViewBag.Title = "About";
    Layout = null;
}
<!doctype html>

<html>

<head>
    <title>Gallery- Cattlewatch</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="~/Client/css/style1.css">
    <link rel="stylesheet" href="~/Client/css/hes-gallery.css">
    <link rel="stylesheet" href="~/Client/css/style.css">
    <style>
        div.sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            margin-right: 2%;
            margin-top: 2%;
            background-color: none;
            float: right;
        }
        .background {
            background: url('../Client/images/cows.jpeg');
            position: relative;
            background-attachment: fixed;
        }

        .layer {
            background-color: rgba(0, 0, 0, 0.87);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }

            a:hover {
                background-color: #ddd;
                color: black;
            }

        .previous {
            background-color: #4CAF50;
            color: black;
        }
        .round {
            border-radius: 50%;
        }
    </style>
</head>

<body class="background">
    <div class="layer">
        <div class="sticky"><a href="@Url.Action("Index", "Home")" class="previous round">&#8249;</a></div>
        <div class="container">
            <h1 class="text-white font-weight-light text-uppercase font-weight-bold" data-aos="fade-up" style="color:white;text-align:center">WINTERTON EXHIBITION</h1>
            <div class="hes-gallery">
                <img src="~/Client/images/TheePic.jpg" alt="image1" data-fullsize="img/dogo-uno.jpg" data-subtext='piesiak'>
                <img src="~/Client/images/TheePic.jpg" alt="image2" data-subtext="Podpis zdjęcia kolejnego">
                <img src="~/Client/images/TheePic.jpg" alt="image3" data-subtext="Kolejny podpis zdjęcia">
                <img src="~/Client/images/TheePic.jpg" alt="image4" data-subtext="Podpis czwartego już zdjęcia">
            </div>
        </div>
        

        <h2 class="text-white font-weight-light text-uppercase font-weight-bold" data-aos="fade-up" style="color:white;text-align:center">EXTRA PHOTOS</h2>
        <div class="hes-gallery" data-wrap="false" data-img-count="false">
            <img src="~/Client/images/Zo.jpg" alt="image1" data-subtext="kociak" data-alt="kociak">
            <img src="~/Client/images/Zo.jpg" alt="image2" data-subtext="Kolejny kociak">
            <img src="~/Client/images/Zo.jpg" alt="image3" data-subtext="Trzeci kociak ^^">
            <img src="~/Client/images/Zo.jpg" alt="image4" data-subtext="Leci czwart" data-alt="co jeest">
            <img src="~/Client/images/Zo.jpg" alt="image5" data-subtext="Daleeeej">
            <img src="~/Client/images/Zo.jpg" alt="image6" data-subtext="Kozaaak">
            <img src="~/Client/images/Zo.jpg" alt="image7" data-subtext="Słodziaaaaak">
            <img src="~/Client/images/Zo.jpg" alt="image8" data-subtext="Ostatni kociak :/">
        </div>
    </div>

        <!-- <script src="../src/hes-gallery.js"></script> -->
        <script src="~/Client/css/hes-gallery.js"></script>
        <script>

            HesGallery.setOptions({
                disableScrolling: false,
                hostedStyles: false,
                animations: true,

                showImageCount: true,
                wrapAround: true
            });

        </script>
</body>
</html>
