@{
    ViewBag.Title = "About";
    Layout = null;
}
<!doctype html>

<html>

<head>
    <title>Gallery- Cattlewatch</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="~/Client/css/style1.css">
    <link rel="stylesheet" href="~/Client/css/hes-gallery.css">
    <link rel="stylesheet" href="~/Client/css/style.css">
    <style>
        div.sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            margin-right: 2%;
            margin-top: 2%;
            background-color: none;
            float: right;
        }
        .background {
            background: url('../Client/images/cows.jpeg');
            position: relative;
            background-attachment: fixed;
        }

        .layer {
            background-color: rgba(0, 0, 0, 0.87);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
         
        }
        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }

            a:hover {
                background-color: #ddd;
                color: black;
            }

        .previous {
            background-color: #4CAF50;
            color: black;
        }
        .round {
            border-radius: 50%;
        }
    </style>
</head>

<body class="background">
    <div class="layer">
        <div class="sticky"><a href="@Url.Action("Index", "Home")" class="previous round">&#8249;</a></div>
        <div class="container">
            <h1 class="text-white font-weight-light text-uppercase font-weight-bold" data-aos="fade-up" style="color:white;text-align:center">WINTERTON EXHIBITION</h1>
            <div class="hes-gallery">
                <img src="~/Client/images/Website/IMG_8982.jpg" loading="lazy" alt="image2" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_9034.jpg" loading="lazy" alt="image1" @*data-fullsize="img/dogo-uno.jpg"*@ data-subtext='WINTERTON EXHIBITION'>
                <img src="~/Client/images/Website/IMG_9030.jpg" loading="lazy" alt="image2" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_9038.jpg" loading="lazy" alt="image3" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_8994.jpg" loading="lazy" alt="image4" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_9007.jpg" loading="lazy" alt="image4" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_9043.jpg" loading="lazy" alt="image2" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_9070.jpg" loading="lazy" alt="image2" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_9091.jpg" loading="lazy" alt="image2" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_9030.jpg" loading="lazy" alt="image2" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_9202.jpg" loading="lazy" alt="image2" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_8841.jpg" loading="lazy" alt="image2" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_8842.jpg" loading="lazy" alt="image2" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_8843.jpg" loading="lazy" alt="image2" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_8844.jpg" loading="lazy" alt="image2" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_8797.jpg" loading="lazy" alt="image2" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_9064.jpg" loading="lazy" alt="image2" data-subtext="WINTERTON EXHIBITION">
                <img src="~/Client/images/Website/IMG_8771.jpg" loading="lazy" alt="image2" data-subtext="WINTERTON EXHIBITION">
            </div>
        </div>
        

        <h2 class="text-white font-weight-light text-uppercase font-weight-bold" data-aos="fade-up" style="color:white;text-align:center">EXTRA PHOTOS</h2>
        <h3 style="color:white; text-align:center">Coming Soon...</h3>
    </div>

        <!-- <script src="../src/hes-gallery.js"></script> -->
        <script src="~/Client/css/hes-gallery.js"></script>
        <script>

            HesGallery.setOptions({
                disableScrolling: false,
                hostedStyles: false,
                animations: true,

                showImageCount: true,
                wrapAround: true
            });

        </script>
</body>
</html>
