@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cattlewatch &mdash; Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Client/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Client/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Client/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Client/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Client/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Client/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/Client/css/aos.css">
    <link rel="stylesheet" href="~/Client/css/style.css">

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">

    <!-- <div class="site-wrap"> -->
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-3 js-site-navbar site-navbar-target" role="banner" id="site-navbar">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-11 col-xl-2 site-logo">
                    <a href="@Url.Action("Index", "Home")" class="logo"> <img src="~/Client/images/CWA Logo.png" width="300" alt="Cattlewatch Africa"> </a>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                            <li><a href="#section-home" class="nav-link">Home</a></li>
                            <li class="has-children">
                                <a href="#section-about" class="nav-link">About Us</a>
                                <ul class="dropdown">
                                    <li><a href="#section-how-it-works" class="nav-link">How It Works</a></li>
                                    <li><a href="#section-our-team" class="nav-link">Our Team</a></li>
                                </ul>
                            </li>
                            <li><a href="#section-services" class="nav-link">Services</a></li>
                            <li><a href="#section-industries" class="nav-link">Product(Images)</a></li>
                            <li><a href="#section-contact" class="nav-link">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                0
                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a></div>
            </div>
        </div>
        </div>

    </header>

    <div class="site-blocks-cover overlay" style="background-image: url(../Client/images/CowsBG.jpg);" data-aos="fade" data-stellar-background-ratio="0.5" id="section-home">
        <div style="background-color:rgba(0, 0, 0, 0.7);">


            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">

                        <h1 class="text-white font-weight-light text-uppercase font-weight-bold" data-aos="fade-up">We Monitor Livestock</h1>
                        <p class="mb-5" data-aos="fade-up" data-aos-delay="100">A Technology Company</p>
                        <p data-aos="fade-up" data-aos-delay="200"><a href="#section-industries" class="btn btn-primary py-3 px-5 text-white  ">See pictures</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section" id="section-about">
        <div class="container">
            <div class="row mb-5">

                <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade-up" data-aos-delay="100">
                    <img src="~/Client/images/About.jpeg" alt="Image" class="img-fluid rounded">
                </div>
                <div class="col-md-6 order-md-1" data-aos="fade-up">
                    <div class="text-left pb-1 border-primary mb-4">
                        <h2 class="text-primary">About Us</h2>
                    </div>
                    <p>
                        Our product is the State-of-the art remote monitoring / IoT solution that allows farmers of small and large cattle herds to manage their stock more effectively.
                        Cattle Watch develops innovative, state-of-the-art technology in the field of remote monitoring systems / IoT for cattle herds, sheep and goats.
                        The purpose of the system is to prevent animal theft through GPS and Satellite tracking, provides early theft warning as well as GeoFencing to prevent animals straying out of the designated grazing area. The system provides an easy and automated animal counting technology that makes it even easy for farmers to count a large number of stock in a a matter of minutes and is able to monitor the health of animals and help curb the spread of diseases.
                        The technology is based on Artificial Intelligence, Deep Learning and Mass Data algorithms and Cattle-Watch is the only operational system for monitoring cattle herds in the market right now.
                    </p>
                    <ul class="ul-check list-unstyled success">
                        <li>Early Theft Warning</li>
                        <li>Geo fencing</li>
                        <li>Location and Tracking</li>
                        <li>Automated counting</li>
                        <li>Remote herds and health status</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

    <div class="site-section bg-image overlay" style="background-image: url('../Client/images/White.jpg');" id="section-how-it-works">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center border-primary">
                    <h2 class="font-weight-light text-primary" data-aos="fade">How It Works</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                    <div class="how-it-work-item">
                        <span class="number">1</span>
                        <div class="how-it-work-body">
                            <h2>Install Collar Tag</h2>
                            <p class="mb-5">A collar tag is securely enclosed around the neck of the animal. The collar tag has the firmware to collect all necessary data</p>
                            <ul class="ul-check list-unstyled success">
                                <li class="text-white">Water Proof</li>
                                <li class="text-white">Firmware remotely updated</li>
                                <li class="text-white">Batteries life 18-36 months</li>
                                <li class="text-white">Has Reflective effect at night (Glow in the dark) </li>
                            </ul>
                            <img src="~/Client/images/Collar.jpeg" width="80%"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                    <div class="how-it-work-item">
                        <span class="number">2</span>
                        <div class="how-it-work-body">
                            <h2>Install Lora Network Tower</h2>
                            <p class="mb-5">We preferably use Lora Network to conserve battery life and reliable updates of data such as GPS Location</p>
                            <ul class="ul-check list-unstyled success">
                                <li class="text-white">Low Powered sensors, and wide coverage area measured in kilometers.</li>
                                <li class="text-white">Operates on free(unlicensed) frequencies, no upfront licensing cost to use the technology.</li>
                                <li class="text-white">Single LoRa Gateway device is designed to take care of thousands of end devices or nodes.</li>
                                <li class="text-white">Backed by the likes of CISCO, IBM and 500 other member companies of the LoRa Alliance.</li>
                                <li class="text-white">Security: a layer of security for the network and one for the application with AES encryption.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
                    <div class="how-it-work-item">
                        <span class="number">3</span>
                        <div class="how-it-work-body">
                            <h2>Enjoy Monitoring on your Smartphone</h2>
                            <p class="mb-5">Install Cattlewatch App from Playstore/iStore and login(Account exists only after installation process)</p>
                            <ul class="ul-check list-unstyled success">
                                <li class="text-white">Get up to 8 different alerts of your livestock</li>
                                <li class="text-white">Automated counting and Geo-Fencing</li>
                                <li class="text-white">Know the exact locaton of your livestock</li>
                                <li class="text-white">Have a send drone feature as an option(Additional charged feature)</li>
                            </ul>
                            <img src="~/Client/images/app.jpg" width="80%" />
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align:center">
                <img src="~/Client/images/TheePic.jpg" width="100%" />
            </div>
        </div>
    </div>
    <div class="site-section border-bottom" id="section-our-team">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center border-primary">
                    <h2 class="font-weight-light text-primary" data-aos="fade">Our Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                    <div class="person" style="text-align:center">
                        <img src="~/Client/images/Zo.jpg" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
                        <h3>Zolani Gwiliza</h3>
                        <p class="position text-muted">Co-Founder</p>
                        @*<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>*@
                        @*<ul class="ul-social-circle">
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                <li><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>*@
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                    <div class="person" style="text-align:center">
                        <img src="~/Client/images/Markk.jpg" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
                        <h3>Mark Ngwenya</h3>
                        <p class="position text-muted">Co-Founder</p>
                        @*<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>*@
                        @*<ul class="ul-social-circle">
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                <li><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>*@
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
                    <div class="person" style="text-align:center">
                        <img src="~/Client/images/Glen.jpg" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
                        <h3>Glen Blackler</h3>
                        <p class="position text-muted">Marketing</p>
                        @*<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>*@
                        @*<ul class="ul-social-circle">
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                <li><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>*@
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section bg-light" id="section-services">
        <div class="container">
            <div class="row justify-content-center mb-5" data-aos="fade-up">
                <div class="col-md-7 text-center border-primary">
                    <h2 class="mb-0 text-primary">Our Services</h2>
                    <p class="color-black-opacity-5">What we offer.</p>
                </div>
            </div>
            <div class="row align-items-stretch">

                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="unit-4 d-flex">
                        <div class="unit-4-icon mr-4"><span class="text-primary fa fa-apple"></span><i class="text-primary fa fa-android fa-3x"></i></div>

                        <div>
                            <h3>App Monitoring</h3>
                            <p>The technology allows you to monitor everything, including deployment of drone if payed for, in the palm of your hands using a Cattlewatch app.</p>
                            @*<p><a href="#">Learn More</a></p>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="unit-4 d-flex">
                        <div class="unit-4-icon mr-4"><span class="text-primary fa fa-desktop"></span></div>
                        <div>
                            <h3>24/7 Monitoring</h3>
                            <p>We have a control room dedicated to survey and respond to all client's alerts within the system wherever they are.There is a dedicated response team within the control room for you. Therefore you do not have to be on the app</p>
                            @*<p><a href="#">Learn More</a></p>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                    <div class="unit-4 d-flex">
                        <div class="unit-4-icon mr-4"><span class="text-primary fa fa-fighter-jet"></span></div>
                        <div>
                            <h3>Air Drone surveillence</h3>
                            <p>This is an added service to the standerd service. When an emergency alert occurs the user or Cattlewatch personel is able to deploy the drone to the location where the alert occured to capture the event.</p>
                            @*<p><a href="#">Learn More</a></p>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="unit-4 d-flex">
                        <div class="unit-4-icon mr-4"><span class="text-primary fa fa-info-circle"></span></div>
                        <div>
                            <h3>Technical Support</h3>
                            <p>Around the clock technical support. We have engineers to tackle all possible errors that might arise in due course.</p>
                            @*<p><a href="#">Learn More</a></p>*@
                        </div>
                    </div>
                </div>
                @*<div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="unit-4 d-flex">
                            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-wooden"></span></div>
                            <div>
                                <h3>Storage</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                                <p><a href="#">Learn More</a></p>
                            </div>
                        </div>
                    </div>*@
                @*<div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="500">
                        <div class="unit-4 d-flex">
                            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-worldwide"></span></div>
                            <div>
                                <h3>Worldwide Delivery</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                                <p><a href="#">Learn More</a></p>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>

    <div class="site-section block-13" id="section-industries">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center border-primary">
                    <h2 class="mb-0 text-primary">Product</h2>
                    <p class="color-black-opacity-5">Piecing together our product</p>
                </div>
            </div>
        </div>
        <p style="text-align:center">Tap Image for Description</p>
        <div class="owl-carousel nonloop-block-13">
            <div>
                <a class="unit-1 text-center">
                    <img src="~/Client/images/Tower.jpg" alt="Image" class="img-fluid">
                    <div class="unit-1-text">
                        <p class="unit-1-heading">Cattlewatch Tower</p>
                    </div>
                </a>
            </div>
            <div>
                <a class="unit-1 text-center">
                    <img src="~/Client/images/GInstallation.jpg" alt="Image" class="img-fluid">
                    <div class="unit-1-text">
                        <p class="unit-1-heading">Installing Gateway (LORA)</p>
                    </div>
                </a>
            </div>
            <div>
                <a class="unit-1 text-center">
                    <img src="~/Client/images/GatewayInstalled.jpg" alt="Image" class="img-fluid">
                    <div class="unit-1-text">
                        <p class="unit-1-heading">Gateway Installed</p>
                    </div>
                </a>
            </div>
            <div>
                <a class="unit-1 text-center">
                    <img src="~/Client/images/CollarTag.jpg" alt="Image" class="img-fluid">
                    <div class="unit-1-text">
                        <p class="unit-1-heading">Collar Tag</p>
                    </div>
                </a>
            </div>
            <div>
                <a class="unit-1 text-center">
                    <img src="~/Client/images/CollarTagInstalled.jpg" alt="Image" class="img-fluid">
                    <div class="unit-1-text">
                        <p class="unit-1-heading">Collar Tag Installed</p>
                    </div>
                </a>
            </div>
            <div>
                <a class="unit-1 text-center">
                    <img src="~/Client/images/App1.jpg" alt="Image" class="img-fluid">
                    <div class="unit-1-text">
                        <p class="unit-1-heading">App Overview</p>
                    </div>
                </a>
            </div>
            <div>
                <a class="unit-1 text-center">
                    <img src="~/Client/images/App2.jpg" alt="Image" class="img-fluid">
                    <div class="unit-1-text">
                        <p class="unit-1-heading">Alerts available on the App</p>
                    </div>
                </a>
            </div>
            <div>
                <a class="unit-1 text-center">
                    <img src="~/Client/images/App3.jpg" alt="Image" class="img-fluid">
                    <div class="unit-1-text">
                        <p class="unit-1-heading">Individual Animal Info with "Navigate To" and "Send Drone"</p>
                    </div>
                </a>
            </div>
            <div>
                <a class="unit-1 text-center">
                    <img src="~/Client/images/App4.jpg" alt="Image" class="img-fluid">
                    <div class="unit-1-text">
                        <p class="unit-1-heading">Navigating to Animal</p>
                    </div>
                </a>
            </div>
        </div>
        <p style="text-align:center">Swipe>>></p>
    </div>
    <br />
    <br />
    <br />
    <div class="site-blocks-cover overlay inner-page-cover" style="background-image: url(../Client/images/WatchVid.jpg); background-attachment: fixed;">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">
                <div class="col-md-7" data-aos="fade-up">
                    <a href="#" class="play-single-big mb-4 d-inline-block " data-toggle="modal" data-target="#exampleModal"><span class="icon-play"></span></a>
                    <h2 class="text-white font-weight-light mb-5 h1">Watch The Video</h2>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="mcontent">

                <div class="modal-body">
                    <video width="100%" controls>
                        <source src="#" type="video/mpeg" />
                    </video>
                </div>

            </div>
        </div>
    </div>
    @*<div class="site-section border-bottom">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-md-7 text-center border-primary">
                        <h2 class="font-weight-light text-primary">Testimonials</h2>
                    </div>
                </div>
                <div class="slide-one-item home-slider owl-carousel">
                    <div>
                        <div class="testimonial">
                            <figure class="mb-4">
                                <img src="~/Client/images/person_1.jpg" alt="Image" class="img-fluid mb-3">

                            </figure>
                            <blockquote>
                                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
                                <p class="author"> &mdash; John Trump</p>
                            </blockquote>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial">
                            <figure class="mb-4">
                                <img src="~/Client/images/person_2.jpg" alt="Image" class="img-fluid mb-3">

                            </figure>
                            <blockquote>
                                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
                                <p class="author"> &mdash; Roger Moore</p>
                            </blockquote>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial">
                            <figure class="mb-4">
                                <img src="~/Client/images/person_4.jpg" alt="Image" class="img-fluid mb-3">
                            </figure>
                            <blockquote>
                                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
                                <p class="author"> &mdash; Ben Carson</p>
                            </blockquote>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial">
                            <figure class="mb-4">
                                <img src="~/Client/images/person_5.jpg" alt="Image" class="img-fluid mb-3">
                            </figure>
                            <blockquote>
                                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
                                <p class="author"> &mdash; Jed Smith</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="site-section bg-light" id="section-contact">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center border-primary">
                    <h2 class="font-weight-light text-primary">Contact Us</h2>
                    <p class="color-black-opacity-5">See Our Daily News &amp; Updates</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 mb-5">

                    <form action="#" class="p-5 bg-white">

                        <div class="row form-group">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <label class="text-black" for="fname">First Name</label>
                                <input type="text" id="fname" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label class="text-black" for="lname">Last Name</label>
                                <input type="text" id="lname" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">

                            <div class="col-md-12">
                                <label class="text-black" for="email">Email</label>
                                <input type="email" id="email" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                             
                            <div class="col-md-12">
                                <label class="text-black" for="subject">Subject</label>
                                <input type="subject" id="subject" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="message">Message</label>
                                <textarea name="message" id="message" cols="30" rows="7" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Send Message" class="btn btn-primary py-2 px-4 text-white">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-md-5">

                    <div class="p-4 mb-3 bg-white">
                        <p class="mb-0 font-weight-bold">Address</p>
                        <p class="mb-4">73 Old Main Road, Kloof, Durban, South Africa</p>
                        <p class="mb-0 font-weight-bold">Phone</p>
                        <p class="mb-4"><a href="#">+27 860 3333 56</a></p>
                        <p class="mb-0 font-weight-bold">Email Address</p>
                        <p class="mb-0"><a href="#">info@cattlewatch.co.za</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <footer class="site-footer">
        <div class="container">
            @*<div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-5 mr-auto">
                                <h2 class="footer-heading mb-4">About Us</h2>
                                <p>Lorem ipsum dolor sit amet  consectetur adipisicing elit. Aperiam iure deserunt ut architecto dolores quo beatae laborum aliquam ipsam rem impedit obcaecati ea consequatur.</p>
                            </div>

                            <div class="col-md-3">
                                <h2 class="footer-heading mb-4">Quick Links</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Testimonials</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h2 class="footer-heading mb-4">Follow Us</h2>
                                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                        <form action="#" method="post">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>*@
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | Cattlewatch Africa @*This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>*@
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- </div> -->
    <script src="~/Client/js/jquery-3.3.1.min.js"></script>
    <script src="~/Client/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Client/js/jquery-ui.js"></script>
    <script src="~/Client/js/jquery.easing.1.3.js"></script>
    <script src="~/Client/js/popper.min.js"></script>
    <script src="~/Client/js/bootstrap.min.js"></script>
    <script src="~/Client/js/owl.carousel.min.js"></script>
    <script src="~/Client/js/jquery.stellar.min.js"></script>
    <script src="~/Client/js/jquery.countdown.min.js"></script>
    <script src="~/Client/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Client/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Client/js/aos.js"></script>
    <script src="~/Client/js/main.js"></script>

</body>
</html>