
@{
    ViewBag.Title = "Lora";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cattlewatch &mdash; @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Client/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Client/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Client/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Client/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Client/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Client/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/Client/css/aos.css">
    <link rel="stylesheet" href="~/Client/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>


        .overlayy {
            position: absolute;
            top: 0;
            left: 0;
            width: 560%;
            height: 315px;
            cursor: pointer;
        }
    </style>

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">

    <!-- <div class="site-wrap"> -->
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-3 js-site-navbar site-navbar-target" role="banner" id="site-navbar">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-11 col-xl-2 site-logo">
                    <a href="@Url.Action("Index", "Home")" class="logo"> <img src="~/Client/images/CWA Logo.png" width="250" alt="Cattlewatch Africa"> </a>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                            <li><a href="@Url.Action("Index", "Home")" class="nav-link">Home</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a></div>
            </div>
        </div>
        </div>

    </header>

    <div class="site-blocks-cover overlay" style="        background-image: url(../Client/images/lora9.png);" data-aos="fade" data-stellar-background-ratio="0.5" id="section-home">
        <div style="background-color:rgba(0, 0, 0, 0.7);">


            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
                        <h1 class="text-white font-weight-light text-uppercase font-weight-bold" data-aos="fade-up">Loar network</h1>
                        <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Cattlewatch Africa -A Technology Company</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container">
            <div class="row mb-5">

                <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade-up" data-aos-delay="100">
                    <img src="~/Client/images/lorawan.png" alt="Image" class="img-fluid rounded">
                </div>
                <div class="col-md-6 order-md-1" data-aos="fade-up">
                    <div class="text-left pb-1 border-primary mb-4">
                        <h2 class="text-primary">About Lora Network</h2>
                    </div>
                    <p>
                        LoRaWAN® network architecture is deployed in a star-of-stars topology in which gateways relay messages between end-devices and a central network server. The gateways are connected to the network server via standard IP connections and act as a transparent bridge, simply converting RF packets to IP packets and vice versa. The wireless communication takes advantage of the Long Range characteristics of the LoRaÒ physical layer, allowing a single-hop link between the end-device and one or many gateways. All modes are capable of bi-directional communication, and there is support for multicast addressing groups to make efficient use of spectrum during tasks such as Firmware Over-The-Air (FOTA) upgrades or other mass distribution messages.
                    </p>
                    <p>
                        The specification defines the device-to-infrastructure (LoRa®) physical layer parameters & (LoRaWAN®) protocol and so provides seamless interoperability between manufacturers, as demonstrated via the device certification program.
                        While the specification defines the technical implementation, it does not define any commercial model or type of deployment (public, shared, private, enterprise) and so offers the industry the freedom to innovate and differentiate how it is used.
                        The LoRaWAN® specification is developed and maintained by the LoRa Alliance®: an open association of collaborating members.
                    </p>

                </div>

            </div>
            <hr />
           
            <div style="text-align:center">
                <h1>
                    Here is video that explains how Lora network works
                </h1>
                <iframe width="80%" height="400" src="https://www.youtube.com/embed/m6IvwcjcxQc">
                </iframe>
            </div>
           
        </div>
    </div>


    <footer class="site-footer">
        <div class="container">

            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | Cattlewatch Africa @*This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>*@
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <
    <!-- </div> -->
    <script src="~/Client/js/jquery-3.3.1.min.js"></script>
    <script src="~/Client/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Client/js/jquery-ui.js"></script>
    <script src="~/Client/js/jquery.easing.1.3.js"></script>
    <script src="~/Client/js/popper.min.js"></script>
    <script src="~/Client/js/bootstrap.min.js"></script>
    <script src="~/Client/js/owl.carousel.min.js"></script>
    <script src="~/Client/js/jquery.stellar.min.js"></script>
    <script src="~/Client/js/jquery.countdown.min.js"></script>
    <script src="~/Client/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Client/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Client/js/aos.js"></script>
    <script src="~/Client/js/main.js"></script>

</body>
 